<!DOCTYPE html>
<html>

<!-- https://www.youtube.com/watch?v=Hw6WtWJwRtU&t=488s -->
<!-- https://www.youtube.com/watch?v=Hw6WtWJwRtU&t=488s -->
<!-- https://www.youtube.com/watch?v=Hw6WtWJwRtU&t=488s -->
<!-- https://www.youtube.com/watch?v=Hw6WtWJwRtU&t=488s -->
<!-- https://www.youtube.com/watch?v=Hw6WtWJwRtU&t=488s -->
<!-- https://www.youtube.com/watch?v=Hw6WtWJwRtU&t=488s -->
<!-- https://www.youtube.com/watch?v=Hw6WtWJwRtU&t=488s -->
<!-- https://www.youtube.com/watch?v=Hw6WtWJwRtU&t=488s -->
<!-- https://www.youtube.com/watch?v=Hw6WtWJwRtU&t=488s -->
<!-- https://www.youtube.com/watch?v=Hw6WtWJwRtU&t=488s -->


  <head>
    <title>TheLoginApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js">
  </head>

  <nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <a href="/">
        <button class="btn btn-outline-primary" type="button"> Home </button>
      </a>
    </form>
  </nav>

  <body>

    <div class="container py-5">

      <%= yield %>
    </div>
  </body>

</html>
